@import './common/variables';
@import './common/media-queries';

$overflows : 165px;
$bg-intro-desk: url('../bg-intro-desktop.svg');
$bg-intro-mobile: url('../bg-intro-mobile.svg');
$bg-mockups: url('../image-mockups.png');

#hero {
    height: 656px;
    overflow: hidden;
    @include on-mobile {
        height: calc(100vh - 80px);
    }
}

#hero__title {
    font-size: $font-size_1;
    color: $primary_dark-blue;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#hero_mockup-image {
    height: inherit;
    width: 578px;
    //TODO: to maintain same proportions calculate the percentages of original items 
    //      compared to the same items in position.
    @include on-mobile {
        top: 0px;
        height: 400px;
    }
    &::before {
        content: "";
        position: absolute;
        background-image: $bg-intro-desk;
        background-repeat: no-repeat;
        background-position-x: -72px;
        background-position-y: -260px;
        background-size: 1271px;
        width: 578px + $overflows; // - scrollbar width
        height: inherit;
        z-index: 0;
        @include on-mobile {
            background-image: $bg-intro-mobile;
            background-size: cover;
            width: 375px;
            height: 422px;
            left: 0px;
            background-position-x: 0px;
            background-position-y: -70px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        background-image: $bg-mockups;
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-y: -122px;
        width: 767px;
        height: 816px;
        overflow: hidden;
        right: -180px;
        z-index: 1;

        @include on-mobile {
            content: "";
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            background-position-y: -132px;
            width: 375px;
            height: 422px;
            overflow: hidden;
            right: 0;
            z-index: 1;
        }
    }
}

#hero_container {
    height: inherit;
    overflow: hidden;
    z-index: 1;
}
