@import '../../shared/variables';

$author_font-size: $font-size_7;
$author_font-weight: $font-weight_thin;
$title_font-size: $font-size_4;
$title_font-weight: $font-weight_mid;
$text_font-size: $font-size_6;

$card-height: 395px;
$card-width: 255px;

.card {
    height: 400px;
    width: 255px;
    background-color: $neutral_white;
    border-radius: 6px;
    &-services {
        background-color: inherit;
        &_title {
            width: 100%;
            height: 68px;
            color: $primary_dark-blue;
            font-size: $font-size_3;
        }
        &_icon {
            width: 100%;
            height: 72px;
        }
        &_icon_container {
            width: 100%;
            height: 100px;
        }
        &_info {
            width: 100%;
            height: auto;
            padding-top: 32px;
            color: $neutral_grayish-blue;
            font-size: $font-size_5;
            font-weight: $font-weight_mid;
            line-height: 24px;
        }
    }
    &-article { //TODO: Make the entire card selectable and add an animation to the border.
        color: $neutral_grayish-blue;
        &_img {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding:0;
            width: 100%;
            height: 200px;
        }
        &_content {
            height:200px;
            &_cntr {
                width: 210px;
                height: 143px;
            }
        }
        &_author {
            font-weight: $author_font-weight;
            font-size: $author_font-size;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
        &_title {
            margin-top: 16px;
            margin-bottom: 14px;
            font-size: $title_font-size;
            font-weight: $title_font-weight;
            color: $primary_dark-blue;
            margin-block-start: 0px;
            margin-block-end: 0px;
            transition: color .5s ease-in-out;
            &:hover {
                color: $primary_lime-green;
            }
        }
        &_text {
            font-size: $text_font-size;
            margin-block-start: 0px;
            margin-block-end: 0px;
            line-height: 18px;
        }
    }
}