# Dependency and directories
node_modules/
design/
docs/

# Files
style.css.map
tsconfig.json

# VS Code files 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/