@use '../utilities/variables.scss' as var;

$footer_color: var.$primary_dark-blue;
$footer-el_width: var.$page-elements-width;

#app-footer {
    //TODO: if using '100vh, add '- 191px' to app-main. (470px for mobile)
    height: 191px;
    background-color: $footer_color;
    padding: var.$page-padding-sides;
}

#footer_sub {
    height: 95px;
    width: $footer-el_width;
    &_a {
        width: 154px;
        height: inherit;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    &_b {
        margin-right: 135px; //previuosly 65px;
        width: 344px;
        height: inherit;
    }
    &_c {
        flex-direction: column;
        align-items: end;
        width: 220px;
        height: 90px;
    }
}

//FIXME: Icons aren't perfectly lined up along the x-axis. 
//Give the container a size adjustment and then use 'align-items: center' to center them.
#footer_socials {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 20px;
}
#footer_logo {
    justify-self: start;
}
#footer_copyright {
    color: var.$neutral_grayish-blue;
    font-size: var.$font-size_5;
}

.footer_social_link, object { 
    height: 20px;
    // transition: filter 5s ease-in-out;
    //FIXME: Refactor this in a way to have a 'button_link_footer' component
    //       that has a more easily accessible SVG and a computed color exactly corresponding to #31d35c.
    object:hover, object:focus {
        filter: invert(65%) sepia(61%) saturate(599%) hue-rotate(81deg) brightness(96%) contrast(81%);
    }
}

.ftr_link { //FIXME: increase selectable area of button-link
    color: var.$neutral_light-grayish-blue;
    transition: color .5s ease-in-out;
    align-self: flex-start;
    &:hover {
        color: var.$primary_lime-green;
    }
}

.footer_sub_element {
    height: 95px;
}

.footer_sub_b_container {
    flex-direction: column;
    height: 82px;
    width: 154px;
}