@import './shared/variables';

html, body, #app {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: $font-family_main;
    background-color: $neutral_light-grayish-blue;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.is {
    &__flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__centered {
        justify-self: center;
    }
    &_flx {display: flex;
        &_cl {display: flex; flex-direction: column;}
        &_rw {display: flex; flex-direction: row;}
    }
}

.has {
    &_x {
        &_strt {justify-content: start;}
        &_cntr {justify-content: center;}
        &_end {justify-content: end;}
        &_spcd {justify-content: space-between;}
    }
    &_y {
        &_strt {align-items: start;}
        &_cntr {align-items: center;}
        &_end {align-items: end;}
    }
}


.on {
    &__sides {
        justify-content: space-between;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section_title {
    color: $primary_dark-blue;
    font-size: $font-size_2;
    font-weight: $font-weight_thin;
}