@import '../../shared/variables';

$fnt-wgt-normal: $font-weight_thin;
$fnt-wgt-cta: $font-weight_bold;

.button, a {
    display: inline-block;
    text-decoration: none;
    width: auto;
    font-size: $font-size_5;
    &__normal {
        height: 44px;
        font-weight: $fnt-wgt-normal;
        color: $neutral_grayish-blue;
        margin: 0 16px 0 16px;
        background-color: $neutral_very-light-gray;
    }
    &__cta {
        display: flex;
        justify-content: center;
        height: 44px - 18px;
        font-weight: $fnt-wgt-cta;
        color: $neutral_white;
        // margin: 0 16px 0 16px;
        padding: 9px 32px 9px 32px; // find: calc number to padding up/bottom
        border-radius: 22px;
        background-image: linear-gradient(
            to right, 
            $primary_lime-green,
            $primary_bright-cyan);
        background-color: white;
        transition: opacity .5s ease-in-out;
        &:hover {
            opacity: 0.50;
        }
    }
    &_link {
        color: $neutral_grayish-blue;
        height: inherit;
        position: relative;
        transition: color .5s ease-in-out;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            inset: auto auto 0 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .5s ease-in-out;
            background-image: linear-gradient(to right, $primary_lime-green, $primary_bright-cyan);
        }
        &:hover {
            color: $primary_dark-blue;
            &::before {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
    &__logo {
        width:auto;
    }
}
