@use '../utilities/variables';

#articles {
    width: 100%;
    height: 659px;
    &_container {
        flex-direction: column;
        width: 1110px;
        height: inherit;
    }
    &_cards {
        width: inherit;
        height: 400px;
        padding-top: 49px;
    }
    &_message {
        height: 135px;
        width: inherit;
    }
    &_title {
        height: auto;
        width: auto;
        // color: var.$primary_dark-blue;
        // font-size: var.$font-size_2;
        // font-weight: var.$font-weight_thin;
    }
}

